# —— Virtual Environment ————————————————————————————————
venv/
.env/         
.env
.venv/
# —— Database ————————————————————
*.db
*.db-shm
*.db-wal

# —— Pycaches, ect ————————————
__pycache__/
*.py[cod]     # .pyc, .pyo, .pyd
*$py.class

# —— Local configuration and logs ——————————————————————
.env          
*.log         
# Tests
.coverage
htmlcov/      

# —— Testing y linters ——————————————————————————
.pytest_cache/       
.tox/                
.mypy_cache/         
.cache/              

# —— Distribution Artefacts ——————————————————————
build/
dist/
*.egg-info/          
pip-wheel-metadata/
*.egg

# —— Configuration of IDE ——————————————————
.vscode/
.idea/
# others editors
*.swp       # swap de vim
*.swo

# —— Operative System ——————————————————————————
.DS_Store   # macOS
Thumbs.db   # Windows


